/* ==========================================================================
	 ����� CSS3
	 ========================================================================== */


/* @import */
@import "blocks/header.css"; 

@import "blocks/content.css"; 
@import "blocks/breadcrumbs.css"; 
@import "blocks/licenzies.css"; 
@import "blocks/publics.css"; 
@import "blocks/action.css"; 
@import "blocks/contacts.css"; 
@import "blocks/write-us.css"; 
@import "blocks/clinic-gallery.css"; 
@import "blocks/star.css"; 
@import "blocks/pagination.css"; 
@import "blocks/magazine.css";

@import "blocks/footer.css"; 
@import "blocks/mailing.css"; 
@import "blocks/social.css"; 
@import "blocks/copyright.css"; 


* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.transition,
.transition * {
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}

.button {
	width: 100%;
	display: inline-block;
	padding: 15px 0;
	border: 1px solid #578322;
	border-radius: 7px;
	font-family: 'FedraSansPro-Light', sans-serif;
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.title {
	font-family: 'FedraSansPro-Light', sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	color: #000000;
	text-align: center;

}

.form-element {
	display: block;
	background-color: #cdcdcd;
	border: 1px solid #606060;
	border-radius: 1px;
}






/*
.gradient {
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#000000));
	background-image:-webkit-linear-gradient(top, #ffffff, #000000);
	background-image:-moz-linear-gradient(top, #ffffff, #000000);
	background-image:-ms-linear-gradient(top, #ffffff, #000000);
	background-image:-o-linear-gradient(top, #ffffff, #000000);
	background-image:linear-gradient(top, #ffffff, #000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#000000');
}

.box-shadow {
	-webkit-box-shadow:0px 0px 5px #000000;
	-moz-box-shadow:0px 0px 5px #000000;
	-ms-box-shadow:0px 0px 5px #000000;
	-o-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}

.transition {
	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
}
*/


