/* ==========================================================================
	 Основные стили сайта
	 ========================================================================== */

/* Typography */
html, body {margin:0px; padding:0px; font-family:'Arial'; font-size:14px; line-height:18px; color:#000; background:#fff; height:100%;}
html.fancybox-lock {overflow:visible !important;}
html.fancybox-lock body {position:relative;}
a {color:#000000; outline:none; text-decoration:none;}
a:hover {text-decoration:none;}
a img {border:none;}
img {vertical-align:middle;}
hr {display:block; height:1px; border:0 none; border-top:1px solid #ccc; margin:0px; padding:0px;}
p {margin:15px 0px; padding:0px;}
h1 {font-size:36px; line-height:42px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h2 {font-size:24px; line-height:30px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h3 {font-size:18px; line-height:24px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
menu {margin:0px; padding:0px; list-style-type:none;}
ul {margin:25px 0px 25px 30px; padding:0px; list-style-type:disc;}
ol {margin:25px 0px 25px 30px; padding:0px; list-style-type:decimal;}
ol li, ul li {margin:0px; padding:0px;}
ol ol, ul ul {margin:6px 0px 6px 30px;}
form {margin:0px; padding:0px;}
button, input, select, textarea {outline:none; font-family:'arial';}
textarea {overflow:auto; resize: vertical;}
table {margin:0px; padding:0px; border:none; border-collapse:collapse;}
table td, table th {margin:0px; padding:0px; border:none; border-collapse:collapse; text-align:left; vertical-align:top; font-weight:normal;}


/* General */
main {min-height:100%; min-width:320px; position:relative;}
.clear.clear-footer {height:100px;}
.site-wrap {width:320px; margin:0px auto; padding: 0 13px;}


/* Header */
header {background:#efefef; width:100%;}


/* Footer */
footer {background:#efefef; width:100%; margin:-100px 0px 0px 0px;}



/* ==========================================================================
	 Вспомогательные стили
	 ========================================================================== */

.show {display:block;}
.hide {display:none;}
.invisible {visibility:hidden;}
.clear {margin:0px; padding:0px; font-size:0px; line-height:0px; height:1px; clear:both; float:none;}
.unstyle-list {margin: 0;list-style-type: none;}
/*.clearfix {display:inline-block; //display:inline; //zoom:1; width:100%;}*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


::-ms-reveal {display:none;}


/* ==========================================================================
	 Стили для печати
	 ========================================================================== */

@media print {
		*, *:before, *:after, *:first-letter, *:first-line {background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important;}
		a, a:visited {text-decoration: underline;}
		a[href]:after {content: " (" attr(href) ")";}
		abbr[title]:after {content: " (" attr(title) ")";}
		a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}
		pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
		thead {display: table-header-group;}
		tr, img {page-break-inside: avoid;}
		img {max-width: 100% !important;}
		p, h2, h3 {orphans: 3; widows: 3;}
		h2, h3 {page-break-after: avoid;}
}