.block-breadcrumbs {
	padding: 21px 13px 15px 13px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
	color: #000;
}

.breadcrumbs-current {
	margin-left: 4px;
	text-transform: uppercase;
}

.breadcrumbs-link {
	margin-left: 6px;
	margin-right: 2px;
	color: #80c343;
	text-transform: uppercase;
	border-bottom: 1px solid #80c343;
}

.breadcrumbs-link:first-child {
	margin-left: 0;
}

.block-breadcrumbs.specialist	{
	padding-right: 70px;
}