.block-footer {
	background-color: #cdcdcd;
}

.block-footer .site-wrap {
	padding: 0 13px;
}

.footer-list-link {
	position: relative;
	display: block;
	padding: 17px 0 14px;
	font-family: 'PTSansPro-Caption', sans-serif;
	font-size: 15px;
	line-height: 28px;
	font-weight: bold;
	border-bottom: 2px solid #bfbfbf;
}

.footer-list-link::after {
	position: absolute;
	content: '';
	width: 6px;
	height: 10px;
	top: 26px;
	right: 0;
	background: url("../../images/sprite.png") -234px -5px no-repeat;
}

.footer-list-item:last-child a {
	border-bottom: none;
}


