.block-header {
	border-bottom: 1px solid #a9adaf;
	background-color: #6f7173;
}

.header-logo-wrapper {
	float: left;
	padding: 6px 0 8px;
}

.header-tel {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #fff;
	text-align: right;
}

.header-buttons-wrapper {
	float: right;
}

.header-main-navigation {
	display: none;
}


