.magazine-title {
	margin-bottom: 18px;
}

.magazine-description {
	margin-bottom: 17px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.magazine-item-title {
	margin-bottom: 14px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	color: #000;
}

.magazine-item-title a {
	float: right;
	padding-top: 8px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #578322;
}

.magazine-item {
	margin-bottom: 40px;
}

.magazine-image {
	text-align: center;
}

.magazine-image img {
	width: 100%;
	max-width: 100%;
}