.block-mailing {
	background-color: #85b54a;
}

.mailing-title {
	font-family: 'FedraSansPro-Normal', sans-serif;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding: 24px 0 18px;
}
.mailing-form {
	font-size: 0;
	padding-bottom: 33px;
}

.mailing-email {
	float: left;
	width: 176px;
	height: 33px;
	padding-left: 13px;
	display: inline-block;
	vertical-align: top;
	font-family: 'PTSansPro-LightItalic', sans-serif;
	font-size: 15px;
	line-height: 26px;	
}

.mailing-submit {
	float: right;
	display: inline-block;
	vertical-align: top;
	padding: 2px 12px;
	font-family: 'FedraSansPro-Light', sans-serif;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: #fff;
	background-color: #606060;
}