.main-slider-wrapper {

	margin: 0 auto;
	background-color: #000;
	overflow: hidden;
}

.slide {
	display: block;
	position: relative;
}

.main-slider-title {
	position: absolute;
	width: 100%;
	padding: 0 15px;
	bottom: 45px;
	left: 1px;	
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	line-height: 30px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
}

.main-slider-image img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.slick-dotted.slick-slider {
	margin-bottom: 15px;
}

.block-main-slider .slick-dots {
	bottom: 10px;
}

.block-main-slider .slick-dots li {
	margin: 0;
	width: 24px;
}

.block-main-slider .slick-dots li button {
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 4px;
}

.block-main-slider .slick-dots li button:before {
	content: '';
}

.block-main-slider .slick-dots li.slick-active button {
	background-color: #fff;
}

.block-main-slider .slick-dots li button {
	width: 8px;
	height: 8px;
}