.block-model {
	padding: 0 13px;
	padding-top: 20px;
	border-top: 4px solid #fff;
	border-bottom: 4px solid #fff;
}

.model-title {
	margin-bottom: 41px;
}

.model-image {
	position: relative;
	width: 263px;
	height: 782px;
	margin: 0 auto;
	margin-bottom: 26px;
	background: url("../../images/woman.png") 26px 0 no-repeat;
}

.model-point {
	position: absolute;
	width: 31px;
	height: 31px;
	cursor: pointer;
}

.model-point.point1::after {
	display: block;
	position: absolute;
	content: '';
	width: 100px;
	height: 1px;
	background-color: #fff;
	top: 15px;
	left: -98px;
}

.model-point.point1::before {
	display: block;
	position: absolute;
	font-family: 'PTSansPro-CaptionBold', sans-serif;
	font-size: 15px;
	content: 'Остановить выпадение волос';
	width: 90px;
	color: #000;
	top: -21px;
	left: -98px;
}

.model-point.point1 {
	top: -1px;
	left: 109px;
}

.model-point.point2 {
	top: 29px;
	left: 125px;
}

.model-point.point3 {
	top: 66px;
	left: 90px;
}

.model-point.point4 {
	top: 108px;
	left: 125px;
}

.model-point.point5 {
	top: 153px;
	left: 118px;
}

.model-point.point6 {
	top: 189px;
	left: 55px;
}

.model-point.point7 {
	top: 219px;
	left: 194px;
}

.model-point.point8 {
	top: 319px;
	left: 125px;
}
.model-point.point9 {
	top: 327px;
	left: 55px;
}

.model-point.point10 {
	top: 449px;
	left: 55px;
}

.model-point.point11 {
	top: 528px;
	left: 145px;
}
.model-point.point12 {
	top: 609px;
	left: 147px;
}

.model-point.point13 {
	top: 731px;
	left: 110px;
}

.model-link {
	display: block;
	padding: 14px 0;
	margin-bottom: 32px;
	background-color: #85b54a;
	font-family: 'FedraSansPro-Light', sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	border: 1px solid #578322;
	border-radius: 7px;
}