.news-title {
	margin-bottom: 25px;
}

.news-item {
	border: 1px solid #6f7173;
	padding: 10px 14px;
	margin-bottom: 31px;
}

.news-item-title {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	color: #000;
	padding-bottom: 13px;
}

.news-item-date {
	display: block;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	color: #000;
}

.news-item-description p {
	padding-top: 9px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #000;
}

.news-item-link {
	display: block;
	padding-top: 5px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 15px;
	line-height: 28px;
	font-weight: bold;
	color: #85b54a;
}