.block-priceusluga {
	min-width: 320px;
	margin: 0 auto;
}

.priceusluga-title {
	margin-bottom: 18px;
}

.priceusluga-table {
	width: 100%;
	margin-bottom: 40px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.priceusluga-table tr:nth-child(odd) {
	background-color: #fff;
}

.priceusluga-table th, .priceusluga-table td {
	width: 33.33%;
	padding: 7px 8px 9px 18px;
	vertical-align: middle;
	text-align: center;
}

.priceusluga-table th {
	font-weight: bold;
}

