
.specialist-title {
	margin-bottom: 28px;
}

.block-specialist .specialist-foto {
	margin-bottom: 3px;
	text-align: center;
}

.block-specialist .specialist-name {
	padding: 0 50px;
	font-family: 'FedraSansPro-Normal', sans-serif;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

.block-specialist .specialist-name span {
	text-transform: uppercase;
}

.block-specialist .specialist-position {
	padding: 0 16px;
	margin-bottom: 17px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
}

.block-specialist .specialist-specialization-wrapper {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	margin-bottom: 10px;
}

.block-specialist .specialist-specialization-title {

	font-weight: bold;
}

.block-specialist .specialist-specialization-list {
	padding-left: 12px;
	margin-bottom: 20px;
}

.block-specialist .specialist-specialization-list li {
	position: relative;
}

.block-specialist .specialist-specialization-list li::after {
	position: absolute;
	content: '-';
	width: 6px;
	height: 1px;
	top: 0;
	left: -10px;
}

.block-specialist .specialist-about-wrapper {
	padding-left: 12px;
	margin-bottom: 23px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.block-specialist .specialist-about-list li {
	padding-bottom: 22px;
	position: relative;
}

.block-specialist .specialist-about-list li:last-child {
	padding-bottom: 0;
}

.block-specialist .specialist-about-list li::after {
	position: absolute;
	content: '.';
	width: 1px;
	height: 1px;
	top: -4px;
	left: -10px;
}

.block-specialist .specialist-description {
	margin-bottom: 28px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;

}

.block-specialist .specialist-honors-wrapper {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.block-specialist .specialist-honors-title {
	margin-bottom: 21px;
	font-weight: bold;
}

.block-specialist .specialist-honors-list {
	padding-left: 9px;
}

.block-specialist .specialist-honors-list li {
	padding-bottom: 23px;
	position: relative;
}

.block-specialist .specialist-honors-list li::after {
	position: absolute;
	content: '.';
	width: 1px;
	height: 1px;
	top: -4px;
	left: -10px;
}