.videoarchive-title {
	margin-bottom: 18px;
}

.videoarchive-item-title {
	margin-bottom: 7px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
}

.videoarchive-item {
	margin-bottom: 42px;
}

.videoarchive-item-date {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
}

.videoarchive-item-description {
	padding-top: 9px;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.videoarchive-item-description a {
	font-weight: bold;
	color: #578322;
}

.videoarchive-video {
	padding-top: 16px;
	text-align: center;
}

.videoarchive-video iframe {
	display: block;
	margin: 0 auto;
}